h2 {
    margin: 1rem 2rem;
}

.table-section {
    margin: 1%;
}

thead>tr.table-dark {
    background-color: #212529;
}

.category-cell {
    display: flex;
    justify-content: flex-end;
}

.category-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
}

svg {
    display: inline;
}

.bi {
    cursor: pointer;
}

.category-icon-img {
    cursor: initial;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.modal h2 {
    margin-top: 0;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

textarea {
    resize: none;
}

.form-select {
    margin: 20px 0;
}